*{
    pedding: 0px;
    margin: 0px;
}
body{
    font-size: 14px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif !important;
}

a, a:hover{
    text-decoration: none;
}

.header{
    width: 100%;
   background: #F0FFF0;

}

.menu{
    width: 100%;
}

.menu .navbar-nav .nav-item .nav-link{
    font-size: 16px;
    font-weight: 500px;
    color: #000;
    margin: 0px 0px 0px 25px;
   
}

.menu .navbar-nav .nav-item .nav-link:hover, .menu .navbar-nav .nav-item .nav-link:focus{
    color: #21B573;

}
.menu .navbar-nav .nav-item .btn{
    padding: 10px 25px;
    margin: 0px 0px 0px 25px;
    font-size: 16px;
    font-weight: 550px;
    color: #fff;
    background: #21B573;
    border: 1px solid #21B573;
    border-radius: 30px;
    transition: 0.6s;
}

.menu .navbar-nav .nav-item .btn:hover, .menu .navbar-nav .nav-item .btn:focus{
    color: #21B573;
    background: transparent;
    border: 1px solid #21B573;
}

.banner{
    width: 100%;
    padding: 70px 0px;
}

.inner-banner{
    width: 100%;
    padding: 40px 40px 0px;
}

.inner-banner h5{
    font-size: 16px;
    line-height: 26px;
    font-weight: 500px;
    color: #FD511A;


}
.inner-banner h1{
    font-size: 45px;
    line-height: 55px;
    font-weight: 500px;
    color: #000;
    margin: 0px 0px 18px;
}


.inner-banner h1 span{
    color: #21B573;
}

.inner-banner p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400px;
    color: #000;
    margin: 0px 0px 30px;

}
.inner-banner .btn-success{
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 550px;
    color: #fff;
    background: #21B573;
    border: 1px solid #000;
    border-radius: 30px;
    transition: 0.6s;
}

.inner-banner .btn-success:hover{
    color: #21B573;
    background: transparent;
    border: 1px solid #21B573;
}

.feature{
    width: 100%;
    padding: 60px 0px;
}
.feature .inner-feature{
    width: 100%;
    padding: 40px;
    background: #F8FFFB;
    text-align: center;
    border-radius: 10px;

}
.feature .inner-feature:hover{
    background: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 1.0);
}


.feature .inner-feature img{
    width: 70px;
    height: 80px;
    margin: 0px 0px 20px;

}

.feature .inner-feature h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500px;
    color: #000;
    margin: 0px;
}
.feature .inner-feature p{
    font-size: 14px;
    font-weight: 300px;
    color: #585859;

}